{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">
            Настройки
        </h4>
<!--        action пустой, потому что данные передаются в ту же вьюху. token чтоб не было ошибок в POST-->
       <form method="POST" action="">{% csrf_token %}
         <div class="form-group">
           {{ form.as_p }}
         </div>
         <button type="submit" class="btn btn-primary">Сохранить</button>
       </form>
        <form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
         <button type="submit" class="btn btn-danger my-3">Удалить свой аккаунт</button>
       </form>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-8 mx-auto">
        <p class="my-2">
            Если Вы не нашли подходящую комбинацию Город - Специальность,
            заполните форму ниже и ждите ответ на укзанную в профиле почту.
        </p>
       <form method="POST" action="{% url 'accounts:contact' %}">{% csrf_token %}
         <div class="form-group">
           {{ contact_form.as_p }}
         </div>
         <button type="submit" class="btn btn-primary">Отправить</button>
       </form>
    </div>
</div>

{% endblock %}